# Preprocessing the data

In [1]:
# Importing the packages
import pandas as pd
import numpy as np

In [2]:
dataF = pd.read_excel('data.xlsx', index_col = False)

In [3]:
dataF.head()

,Heading,ID,Img_Front,Lat,Lon,Speed,Timestamp
0,NE,DB002,NaN,18.606337,73.773585,54.159888,1537320354000
1,NE,DB002,img_front_DB002_2018_09_19_06_55_54_094000.jpg,18.606337,73.773585,54.159888,1537320354094
2,NE,DB002,img_front_DB002_2018_09_19_06_55_54_379000.jpg,18.606337,73.773585,54.159888,1537320354379
3,NE,DB002,img_front_DB002_2018_09_19_06_55_54_809000.jpg,18.606337,73.773585,54.159888,1537320354809
4,NE,DB002,img_front_DB002_2018_09_19_06_55_54_976000.jpg,18.606337,73.773585,54.159888,1537320354976

# Contains Latitude/ Longitude, Speed and Timestamp data of a car fitted with sensors

In [4]:
# Importing packages for preprocessing date-time in the dataframe
from datetime import datetime, date, time, timedelta

In [5]:
# Converting Unix Timestamp to Date-Time format
dataF["date_time"] = pd.to_datetime(dataF["Timestamp"], unit = "ms") 
dataF["date_time"] = dataF["date_time"] + timedelta(hours = 5, minutes = 30)
# Truncating seconds(since each sec has approx. 4 records)
dataF["date_time"] = dataF["date_time"].astype('<M8[m]')

In [6]:
# Seperate columns for date and time
dataF["only_date"] = [date_time.date() for date_time in dataF["date_time"]]
dataF["only_time"] = [date_time.time() for date_time in dataF["date_time"]]

In [26]:
dataF

,Heading,ID,Img_Front,Lat,Lon,Speed,Timestamp,date_time,only_date,only_time,accln,speed_grp
0,NE,DB002,NaN,18.606337,73.773585,54,1537320354000,2018-09-19 06:55:00,2018-09-19,06:55:00,-3.0,1
26,NE,DB002,NaN,18.606855,73.772945,51,1537320360000,2018-09-19 06:56:00,2018-09-19,06:56:00,-17.5,2
242,NE,DB002,NaN,18.610888,73.768840,19,1537320420000,2018-09-19 06:57:00,2018-09-19,06:57:00,-15.0,3
483,NE,DB002,NaN,18.613554,73.766597,21,1537320480000,2018-09-19 06:58:00,2018-09-19,06:58:00,-3.5,4
705,NE,DB002,NaN,18.615273,73.765071,12,1537320540000,2018-09-19 06:59:00,2018-09-19,06:59:00,13.5,5
898,NE,DB002,img_front_DB002_2018_09_19_06_59_59_739000.jpg,18.617094,73.763449,48,1537320600000,2018-09-19 07:00:00,2018-09-19,07:00:00,22.0,6
1105,NE,DB002,img_front_DB002_2018_09_19_07_00_59_840000.jpg,18.621992,73.759586,56,1537320660000,2018-09-19 07:01:00,2018-09-19,07:01:00,4.5,7
1329,NE,DB002,img_front_DB002_2018_09_19_07_01_59_248000.jpg,18.628027,73.754676,57,1537320720000,2018-09-19 07:02:00,2018-09-19,07:02:00,2.5,8
1544,NE,DB002,img_front_DB002_2018_09_19_07_02_59_719000.jpg,18.634243,73.750863,61,1537320780000,2018-09-19 07:03:00,2018-09-19,07:03:00,-20.5,9
1730,NE,DB002,NaN,18.638961,73.750203,16,1537320840000,2018-09-19 07:04:00,2018-09-19,07:04:00,-15.5,10
1964,NE,DB002,NaN,18.643441,73.749014,30,1537320900000,2018-09-19 07:05:00,2018-09-19,07:05:00,11.0,11
2179,NE,DB002,NaN,18.645807,73.743146,38,1537320960000,2018-09-19 07:06:00,2018-09-19,07:06:00,3.0,12
2428,NE,DB002,NaN,18.652218,73.738437,36,1537321020000,2018-09-19 07:07:00,2018-09-19,07:07:00,6.0,13
2646,NE,DB002,NaN,18.656541,73.735156,50,1537321080000,2018-09-19 07:08:00,2018-09-19,07:08:00,-5.0,14
2867,NE,DB002,NaN,18.660092,73.730904,26,1537321140000,2018-09-19 07:09:00,2018-09-19,07:09:00,11.0,15
3096,NE,DB002,img_front_DB002_2018_09_19_07_09_59_703000.jpg,18.662794,73.725193,72,1537321200000,2018-09-19 07:10:00,2018-09-19,07:10:00,24.5,16
3300,NE,DB002,NaN,18.663189,73.712930,75,1537321260000,2018-09-19 07:11:00,2018-09-19,07:11:00,3.0,17
3525,NE,DB002,NaN,18.670682,73.704093,78,1537321320000,2018-09-19 07:12:00,2018-09-19,07:12:00,1.0,18
3725,NE,DB002,NaN,18.679870,73.695937,77,1537321380000,2018-09-19 07:13:00,2018-09-19,07:13:00,0.0,19
3975,NE,DB002,NaN,18.687856,73.687121,78,1537321440000,2018-09-19 07:14:00,2018-09-19,07:14:00,0.5,20
4209,NE,DB002,img_front_DB002_2018_09_19_07_14_59_827000.jpg,18.697381,73.680417,78,1537321500000,2018-09-19 07:15:00,2018-09-19,07:15:00,-0.5,20
4432,NE,DB002,NaN,18.704594,73.671831,77,1537321560000,2018-09-19 07:16:00,2018-09-19,07:16:00,-1.0,21
4640,NE,DB002,NaN,18.707357,73.660369,76,1537321620000,2018-09-19 07:17:00,2018-09-19,07:17:00,0.5,22
4869,NE,DB002,img_front_DB002_2018_09_19_07_17_59_766000.jpg,18.712418,73.649129,78,1537321680000,2018-09-19 07:18:00,2018-09-19,07:18:00,-32.5,23
5065,NE,DB002,img_front_DB002_2018_09_19_07_18_59_673000.jpg,18.713722,73.645651,11,1537321740000,2018-09-19 07:19:00,2018-09-19,07:19:00,-0.5,24
5295,NE,DB002,NaN,18.716583,73.637974,77,1537321800000,2018-09-19 07:20:00,2018-09-19,07:20:00,33.5,25
5510,NE,DB002,NaN,18.714005,73.625646,78,1537321860000,2018-09-19 07:21:00,2018-09-19,07:21:00,0.0,26
5740,NE,DB002,NaN,18.710389,73.613880,77,1537321920000,2018-09-19 07:22:00,2018-09-19,07:22:00,0.0,27
5952,NE,DB002,NaN,18.707318,73.601896,78,1537321980000,2018-09-19 07:23:00,2018-09-19,07:23:00,0.5,28
6172,NE,DB002,NaN,18.705610,73.590057,78,1537322040000,2018-09-19 07:24:00,2018-09-19,07:24:00,0.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...
154682,NE,DB002,NaN,18.601314,73.814938,19,1537544220000,2018-09-21 21:07:00,2018-09-21,21:07:00,3.0,626
154910,NE,DB002,img_front_DB002_2018_09_21_21_07_59_687000.jpg,18.603628,73.818788,43,1537544280000,2018-09-21 21:08:00,2018-09-21,21:08:00,16.0,627
155112,NE,DB002,NaN,18.609263,73.822962,51,1537544340000,2018-09-21 21:09:00,2018-09-21,21:09:00,2.5,628
155329,NE,DB002,img_front_DB002_2018_09_21_21_09_59_837000.jpg,18.617118,73.825547,48,1537544400000,2018-09-21 21:10:00,2018-09-21,21:10:00,1.5,629
155553,NE,DB002,NaN,18.618828,73.832398,54,1537544460000,2018-09-21 21:11:00,2018-09-21,21:11:00,1.0,630
155763,NE,DB002,NaN,18.617067,73.840296,50,1537544520000,2018-09-21 21:12:00,2018-09-21,21:12:00,-7.5,631
155994,NE,DB002,NaN,18.615695,73.846537,39,1537544580000,2018-09-21 21:13:00,2018-09-21,21:13:00,-5.0,632
156224,NE,DB002,NaN,18.619049,73.850162,40,1537544640000,2018-09-21 21:14:00,2018-09-21,21:14:00,-12.0,633
156445,NE,DB002,img_front_DB002_2018_09_21_21_14_59_991000.jpg,18.621117,73.850788,15,1537544700000,2018-09-21 21:15:00,2018-09-21,21:15:00,-18.5,634
156690,NE,DB002,img_front_DB002_2018_09_21_21_15_59_725000.jpg,18.623064,73.851762,3,1537544760000,2018-09-21 21:16:00,2018-09-21,21:16:00,-4.0,635
156888,NE,DB002,img_front_DB002_2018_09_21_21_16_59_636000.jpg,18.623393,73.852852,7,1537544820000,2018-09-21 21:17:00,2018-09-21,21:17:00,6.0,636
157137,NE,DB002,NaN,18.623844,73.855071,15,1537544880000,2018-09-21 21:18:00,2018-09-21,21:18:00,5.0,637
157370,NE,DB002,NaN,18.624428,73.858066,17,1537544940000,2018-09-21 21:19:00,2018-09-21,21:19:00,3.5,638
157406,NE,DB002,img_front_DB002_2018_09_21_21_17_33_266000.jpg,18.626027,73.862496,22,1537545046000,2018-09-21 21:20:00,2018-09-21,21:20:00,8.5,639
157454,NE,DB002,img_front_DB002_2018_09_21_21_20_59_732000.jpg,18.626591,73.863535,34,1537545060000,2018-09-21 21:21:00,2018-09-21,21:21:00,5.5,640
157670,NE,DB002,NaN,18.628597,73.867339,33,1537545120000,2018-09-21 21:22:00,2018-09-21,21:22:00,-5.0,641
157884,NE,DB002,img_front_DB002_2018_09_21_21_22_58_871000.jpg,18.630846,73.871219,24,1537545180000,2018-09-21 21:23:00,2018-09-21,21:23:00,-8.0,642
158107,NE,DB002,NaN,18.632912,73.874097,17,1537545240000,2018-09-21 21:24:00,2018-09-21,21:24:00,19.0,643
158325,NE,DB002,NaN,18.629866,73.874828,62,1537545300000,2018-09-21 21:25:00,2018-09-21,21:25:00,3.0,644
158517,NE,DB002,img_front_DB002_2018_09_21_21_25_59_845000.jpg,18.622565,73.874254,23,1537545360000,2018-09-21 21:26:00,2018-09-21,21:26:00,-17.0,645
158756,NE,DB002,img_front_DB002_2018_09_21_21_26_59_034000.jpg,18.618064,73.874152,28,1537545420000,2018-09-21 21:27:00,2018-09-21,21:27:00,9.5,646
158951,NE,DB002,NaN,18.613770,73.872983,42,1537545480000,2018-09-21 21:28:00,2018-09-21,21:28:00,3.5,647
159176,NE,DB002,img_front_DB002_2018_09_21_21_28_59_854000.jpg,18.607950,73.873450,35,1537545540000,2018-09-21 21:29:00,2018-09-21,21:29:00,1.0,648
159396,NE,DB002,img_front_DB002_2018_09_21_21_29_59_862000.jpg,18.601289,73.873000,44,1537545600000,2018-09-21 21:30:00,2018-09-21,21:30:00,-12.5,649
159632,NE,DB002,img_front_DB002_2018_09_21_21_30_59_928000.jpg,18.599975,73.872287,10,1537545660000,2018-09-21 21:31:00,2018-09-21,21:31:00,-21.5,650
159854,NE,DB002,img_front_DB002_2018_09_21_21_31_59_804000.jpg,18.599808,73.872130,1,1537545720000,2018-09-21 21:32:00,2018-09-21,21:32:00,-3.5,651
160062,NE,DB002,NaN,18.599675,73.872100,3,1537545780000,2018-09-21 21:33:00,2018-09-21,21:33:00,0.0,652
160278,NE,DB002,img_front_DB002_2018_09_21_21_33_59_856000.jpg,18.599672,73.872104,1,1537545840000,2018-09-21 21:34:00,2018-09-21,21:34:00,-1.0,653
160497,NE,DB002,NaN,18.599672,73.871977,1,1537545905000,2018-09-21 21:35:00,2018-09-21,21:35:00,0.0,653
160719,NE,DB002,NaN,18.599616,73.872196,1,1537545960000,2018-09-21 21:36:00,2018-09-21,21:36:00,0.0,653

In [9]:
#Dropping duplicates since in each second, there are three similar records with repeating Lat/ Long values
dataF.drop_duplicates(subset = "date_time", inplace = True)

In [10]:
# Three days of data
dataF["only_date"].unique()

array([datetime.date(2018, 9, 19), datetime.date(2018, 9, 20),
       datetime.date(2018, 9, 21)], dtype=object)

In [11]:
# Converting the speed from float to int 
dataF["Speed"] = dataF["Speed"].astype(int)

In [12]:
# Finding the acceleration
dataF['accln'] = np.gradient(dataF["Speed"])

In [13]:
# Creating "speed_grp" column which assigns 0 when the speed values are same and 1 when the speed value changes in the 
# consecutive records. And then using cumsum() function to find the number of records where the car is travelling in the
# same speed.

dataF['speed_grp'] = (dataF.Speed.diff(1) != 0).astype('int').cumsum()

# Grouping it by "speed_grp" and keeping the required columns

temp = pd.DataFrame({'Lat_start' : dataF.groupby('speed_grp')["Lat"].first(), 
              'Lat_end' : dataF.groupby('speed_grp')["Lat"].last(),
              'Long_start': dataF.groupby('speed_grp')["Lon"].first(),
              'Long_end': dataF.groupby('speed_grp')["Lon"].last(),
              'Start_Time': dataF.groupby('speed_grp')["date_time"].first(),
              'End_Time': dataF.groupby('speed_grp')["date_time"].last(),
              'Speed': dataF.groupby('speed_grp')['Speed'].first(),
              'Acceleration': dataF.groupby('speed_grp')['accln'].first(),      
              'Consecutive' : dataF.groupby('speed_grp').size(), 
              }).reset_index(drop=True)
temp

,Lat_start,Lat_end,Long_start,Long_end,Start_Time,End_Time,Speed,Acceleration,Consecutive
0,18.606337,18.606337,73.773585,73.773585,2018-09-19 06:55:00,2018-09-19 06:55:00,54,-3.0,1
1,18.606855,18.606855,73.772945,73.772945,2018-09-19 06:56:00,2018-09-19 06:56:00,51,-17.5,1
2,18.610888,18.610888,73.768840,73.768840,2018-09-19 06:57:00,2018-09-19 06:57:00,19,-15.0,1
3,18.613554,18.613554,73.766597,73.766597,2018-09-19 06:58:00,2018-09-19 06:58:00,21,-3.5,1
4,18.615273,18.615273,73.765071,73.765071,2018-09-19 06:59:00,2018-09-19 06:59:00,12,13.5,1
5,18.617094,18.617094,73.763449,73.763449,2018-09-19 07:00:00,2018-09-19 07:00:00,48,22.0,1
6,18.621992,18.621992,73.759586,73.759586,2018-09-19 07:01:00,2018-09-19 07:01:00,56,4.5,1
7,18.628027,18.628027,73.754676,73.754676,2018-09-19 07:02:00,2018-09-19 07:02:00,57,2.5,1
8,18.634243,18.634243,73.750863,73.750863,2018-09-19 07:03:00,2018-09-19 07:03:00,61,-20.5,1
9,18.638961,18.638961,73.750203,73.750203,2018-09-19 07:04:00,2018-09-19 07:04:00,16,-15.5,1
10,18.643441,18.643441,73.749014,73.749014,2018-09-19 07:05:00,2018-09-19 07:05:00,30,11.0,1
11,18.645807,18.645807,73.743146,73.743146,2018-09-19 07:06:00,2018-09-19 07:06:00,38,3.0,1
12,18.652218,18.652218,73.738437,73.738437,2018-09-19 07:07:00,2018-09-19 07:07:00,36,6.0,1
13,18.656541,18.656541,73.735156,73.735156,2018-09-19 07:08:00,2018-09-19 07:08:00,50,-5.0,1
14,18.660092,18.660092,73.730904,73.730904,2018-09-19 07:09:00,2018-09-19 07:09:00,26,11.0,1
15,18.662794,18.662794,73.725193,73.725193,2018-09-19 07:10:00,2018-09-19 07:10:00,72,24.5,1
16,18.663189,18.663189,73.712930,73.712930,2018-09-19 07:11:00,2018-09-19 07:11:00,75,3.0,1
17,18.670682,18.670682,73.704093,73.704093,2018-09-19 07:12:00,2018-09-19 07:12:00,78,1.0,1
18,18.679870,18.679870,73.695937,73.695937,2018-09-19 07:13:00,2018-09-19 07:13:00,77,0.0,1
19,18.687856,18.697381,73.687121,73.680417,2018-09-19 07:14:00,2018-09-19 07:15:00,78,0.5,2
20,18.704594,18.704594,73.671831,73.671831,2018-09-19 07:16:00,2018-09-19 07:16:00,77,-1.0,1
21,18.707357,18.707357,73.660369,73.660369,2018-09-19 07:17:00,2018-09-19 07:17:00,76,0.5,1
22,18.712418,18.712418,73.649129,73.649129,2018-09-19 07:18:00,2018-09-19 07:18:00,78,-32.5,1
23,18.713722,18.713722,73.645651,73.645651,2018-09-19 07:19:00,2018-09-19 07:19:00,11,-0.5,1
24,18.716583,18.716583,73.637974,73.637974,2018-09-19 07:20:00,2018-09-19 07:20:00,77,33.5,1
25,18.714005,18.714005,73.625646,73.625646,2018-09-19 07:21:00,2018-09-19 07:21:00,78,0.0,1
26,18.710389,18.710389,73.613880,73.613880,2018-09-19 07:22:00,2018-09-19 07:22:00,77,0.0,1
27,18.707318,18.708087,73.601896,73.578176,2018-09-19 07:23:00,2018-09-19 07:25:00,78,0.5,3
28,18.710538,18.710538,73.566626,73.566626,2018-09-19 07:26:00,2018-09-19 07:26:00,75,-2.0,1
29,18.717308,18.717308,73.556693,73.556693,2018-09-19 07:27:00,2018-09-19 07:27:00,74,2.5,1
...,...,...,...,...,...,...,...,...,...
623,18.597907,18.597907,73.805419,73.805419,2018-09-21 21:05:00,2018-09-21 21:05:00,55,10.0,1
624,18.599433,18.599433,73.810814,73.810814,2018-09-21 21:06:00,2018-09-21 21:06:00,37,-18.0,1
625,18.601314,18.601314,73.814938,73.814938,2018-09-21 21:07:00,2018-09-21 21:07:00,19,3.0,1
626,18.603628,18.603628,73.818788,73.818788,2018-09-21 21:08:00,2018-09-21 21:08:00,43,16.0,1
627,18.609263,18.609263,73.822962,73.822962,2018-09-21 21:09:00,2018-09-21 21:09:00,51,2.5,1
628,18.617118,18.617118,73.825547,73.825547,2018-09-21 21:10:00,2018-09-21 21:10:00,48,1.5,1
629,18.618828,18.618828,73.832398,73.832398,2018-09-21 21:11:00,2018-09-21 21:11:00,54,1.0,1
630,18.617067,18.617067,73.840296,73.840296,2018-09-21 21:12:00,2018-09-21 21:12:00,50,-7.5,1
631,18.615695,18.615695,73.846537,73.846537,2018-09-21 21:13:00,2018-09-21 21:13:00,39,-5.0,1
632,18.619049,18.619049,73.850162,73.850162,2018-09-21 21:14:00,2018-09-21 21:14:00,40,-12.0,1
633,18.621117,18.621117,73.850788,73.850788,2018-09-21 21:15:00,2018-09-21 21:15:00,15,-18.5,1
634,18.623064,18.623064,73.851762,73.851762,2018-09-21 21:16:00,2018-09-21 21:16:00,3,-4.0,1
635,18.623393,18.623393,73.852852,73.852852,2018-09-21 21:17:00,2018-09-21 21:17:00,7,6.0,1
636,18.623844,18.623844,73.855071,73.855071,2018-09-21 21:18:00,2018-09-21 21:18:00,15,5.0,1
637,18.624428,18.624428,73.858066,73.858066,2018-09-21 21:19:00,2018-09-21 21:19:00,17,3.5,1
638,18.626027,18.626027,73.862496,73.862496,2018-09-21 21:20:00,2018-09-21 21:20:00,22,8.5,1
639,18.626591,18.626591,73.863535,73.863535,2018-09-21 21:21:00,2018-09-21 21:21:00,34,5.5,1
640,18.628597,18.628597,73.867339,73.867339,2018-09-21 21:22:00,2018-09-21 21:22:00,33,-5.0,1
641,18.630846,18.630846,73.871219,73.871219,2018-09-21 21:23:00,2018-09-21 21:23:00,24,-8.0,1
642,18.632912,18.632912,73.874097,73.874097,2018-09-21 21:24:00,2018-09-21 21:24:00,17,19.0,1
643,18.629866,18.629866,73.874828,73.874828,2018-09-21 21:25:00,2018-09-21 21:25:00,62,3.0,1
644,18.622565,18.622565,73.874254,73.874254,2018-09-21 21:26:00,2018-09-21 21:26:00,23,-17.0,1
645,18.618064,18.618064,73.874152,73.874152,2018-09-21 21:27:00,2018-09-21 21:27:00,28,9.5,1
646,18.613770,18.613770,73.872983,73.872983,2018-09-21 21:28:00,2018-09-21 21:28:00,42,3.5,1
647,18.607950,18.607950,73.873450,73.873450,2018-09-21 21:29:00,2018-09-21 21:29:00,35,1.0,1
648,18.601289,18.601289,73.873000,73.873000,2018-09-21 21:30:00,2018-09-21 21:30:00,44,-12.5,1
649,18.599975,18.599975,73.872287,73.872287,2018-09-21 21:31:00,2018-09-21 21:31:00,10,-21.5,1
650,18.599808,18.599808,73.872130,73.872130,2018-09-21 21:32:00,2018-09-21 21:32:00,1,-3.5,1
651,18.599675,18.599675,73.872100,73.872100,2018-09-21 21:33:00,2018-09-21 21:33:00,3,0.0,1
652,18.599672,18.599616,73.872104,73.872196,2018-09-21 21:34:00,2018-09-21 21:36:00,1,-1.0,3

In [14]:
# Importing packages for visualization using google maps

import gmaps
import os
import urllib.request
gmaps.configure('AIzaSyDtLvi-eBWmwuTdyoTBqe-jILouiXV-fT8')

In [15]:
# Mumbai
coordinates = (19.067274, 72.888661)
gmaps.figure(center=coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Pune
coordinates = (18.516726, 73.856255)
gmaps.figure(center=coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Mumbai to Pune directions
gmaps.configure(api_key='AIzaSyDtLvi-eBWmwuTdyoTBqe-jILouiXV-fT8')
#Define location 1 and 2
Pune = (18.528308,73.873303)
Mumbai = (19.072064,72.870643)
#Create the map
fig = gmaps.figure()
#create the layer
layer = gmaps.directions.Directions(Pune, Mumbai, mode='car')
#Add the layer
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Halts
temp_Halts = temp[(temp["Speed"] < 10) & (temp["Consecutive"] > 1)]    # minute by minute analysis (by ignoring the seconds)
print("No of halts:", temp_Halts["Consecutive"].count())
temp_Halts

No of halts: 27

,Lat_start,Lat_end,Long_start,Long_end,Start_Time,End_Time,Speed,Acceleration,Consecutive
133,19.067274,19.068030,72.888661,72.887914,2018-09-19 09:35:00,2018-09-19 09:36:00,0,-1.5,2
144,19.072826,19.073116,72.883933,72.883619,2018-09-19 09:47:00,2018-09-19 09:48:00,3,1.5,2
150,19.075353,19.075439,72.878002,72.877876,2018-09-19 09:54:00,2018-09-19 09:55:00,0,-14.0,2
154,19.072149,19.072080,72.875552,72.875546,2018-09-19 09:59:00,2018-09-19 10:03:00,0,-0.5,5
160,18.528308,18.528273,73.873303,73.873366,2018-09-20 07:36:00,2018-09-20 07:44:00,0,-9.0,9
161,18.528278,18.528280,73.873356,73.873431,2018-09-20 07:45:00,2018-09-20 07:46:00,1,0.5,2
162,18.528266,18.528215,73.873490,73.873308,2018-09-20 07:47:00,2018-09-20 07:48:00,0,-0.5,2
163,18.528235,18.528241,73.873418,73.873410,2018-09-20 07:49:00,2018-09-20 07:50:00,1,0.5,2
164,18.528325,18.528230,73.873394,73.873339,2018-09-20 07:51:00,2018-09-20 07:52:00,0,-0.5,2
165,18.528274,18.528229,73.873430,73.873154,2018-09-20 07:53:00,2018-09-20 07:54:00,1,0.5,2
194,18.713758,18.713768,73.646142,73.646129,2018-09-20 08:59:00,2018-09-20 09:00:00,0,-38.5,2
282,19.075752,19.075665,72.873946,72.873771,2018-09-20 11:46:00,2018-09-20 11:47:00,0,-10.0,2
288,19.072329,19.072013,72.870859,72.870769,2018-09-20 11:53:00,2018-09-20 11:54:00,2,-0.5,2
289,19.071963,19.071998,72.870721,72.870710,2018-09-20 11:55:00,2018-09-20 11:56:00,0,-1.0,2
299,19.062455,19.062433,72.917204,72.917258,2018-09-20 17:13:00,2018-09-20 17:14:00,0,-10.5,2
431,19.037680,19.037658,73.077631,73.077613,2018-09-21 09:14:00,2018-09-21 09:17:00,0,-6.5,4
452,19.071694,19.072940,72.884948,72.883743,2018-09-21 09:57:00,2018-09-21 09:58:00,9,-17.0,2
455,19.074661,19.074674,72.879426,72.879319,2018-09-21 10:01:00,2018-09-21 10:02:00,0,-6.0,2
460,19.072575,19.072629,72.875729,72.875751,2018-09-21 10:07:00,2018-09-21 10:11:00,0,-1.5,5
468,19.069316,19.069438,72.904349,72.904727,2018-09-21 17:21:00,2018-09-21 17:22:00,2,1.0,2
471,19.069762,19.069873,72.905249,72.905503,2018-09-21 17:25:00,2018-09-21 17:29:00,0,-2.0,5
474,19.070473,19.100594,72.906266,72.928891,2018-09-21 17:32:00,2018-09-21 17:49:00,0,-1.5,9
482,19.153955,19.153902,72.956201,72.956188,2018-09-21 17:57:00,2018-09-21 17:58:00,0,-16.0,2
509,19.083498,19.082465,73.017117,73.017251,2018-09-21 18:25:00,2018-09-21 18:26:00,5,-26.5,2
614,18.593010,18.592897,73.784723,73.784890,2018-09-21 20:53:00,2018-09-21 20:54:00,2,-0.5,2
617,18.594658,18.594843,73.787337,73.787500,2018-09-21 20:57:00,2018-09-21 20:59:00,0,-5.0,3
652,18.599672,18.599616,73.872104,73.872196,2018-09-21 21:34:00,2018-09-21 21:36:00,1,-1.0,3

In [19]:
temp_Halts["lat-lon"] = list(zip(temp_Halts["Lat_start"], temp_Halts["Long_start"]))
markers = [x for x in temp_Halts["lat-lon"]]

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
# Plotting the locations where the car is halted/ stopped due to traffic

fig = gmaps.figure()
markers = gmaps.marker_layer(markers)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Overspeed

In [21]:
temp_overspeed = temp[(temp["Speed"] > 75) & (temp["Consecutive"] > 1)]
print("instances of overspeeding",temp_overspeed["Consecutive"].count())
temp_overspeed.head()

instances of overspeeding 32

,Lat_start,Lat_end,Long_start,Long_end,Start_Time,End_Time,Speed,Acceleration,Consecutive
19,18.687856,18.697381,73.687121,73.680417,2018-09-19 07:14:00,2018-09-19 07:15:00,78,0.5,2
27,18.707318,18.708087,73.601896,73.578176,2018-09-19 07:23:00,2018-09-19 07:25:00,78,0.5,3
32,18.740846,18.749706,73.532183,73.527134,2018-09-19 07:30:00,2018-09-19 07:31:00,78,4.0,2
38,18.736679,18.733229,73.455999,73.444274,2018-09-19 07:37:00,2018-09-19 07:38:00,78,1.0,2
61,18.852525,18.861728,73.227953,73.222651,2018-09-19 08:18:00,2018-09-19 08:19:00,78,-0.5,2

In [22]:
# Plotting the locations where the car is overspeeding

locations = temp_overspeed[['Lat_start', 'Long_start']]
#Get the magnitude from the data
weights = temp_overspeed["Consecutive"]
#Set up your map
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#High Acceleration

In [23]:
temp_accln = temp[temp["Acceleration"] > 8]
print("instances of high-acceleration",temp_accln["Consecutive"].count())
temp_accln.head()

instances of high-acceleration 122

,Lat_start,Lat_end,Long_start,Long_end,Start_Time,End_Time,Speed,Acceleration,Consecutive
4,18.615273,18.615273,73.765071,73.765071,2018-09-19 06:59:00,2018-09-19 06:59:00,12,13.5,1
5,18.617094,18.617094,73.763449,73.763449,2018-09-19 07:00:00,2018-09-19 07:00:00,48,22.0,1
10,18.643441,18.643441,73.749014,73.749014,2018-09-19 07:05:00,2018-09-19 07:05:00,30,11.0,1
14,18.660092,18.660092,73.730904,73.730904,2018-09-19 07:09:00,2018-09-19 07:09:00,26,11.0,1
15,18.662794,18.662794,73.725193,73.725193,2018-09-19 07:10:00,2018-09-19 07:10:00,72,24.5,1

In [24]:
# Plotting the locations of high acceleration

locations = temp_accln[['Lat_start', 'Long_start']]
#Get the magnitude from the data
weights = temp_accln["Consecutive"]
#Set up your map
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))